/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * DungeonRoll implementation : © Martin Goulet <martin.goulet@live.ca>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * dungeonroll.css
 *
 * DungeonRoll stylesheet
 *
 */


/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (dungeonroll_dungeonroll.tpl), and to HTML elements you create dynamically
    (in dungeonroll.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/


/* For dice in the action button bar */

.sicon {
    display: inline-block;
    background-image: url('img/dice_party.jpg');
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    background-size: 210px 35px;
    margin: -5px -11px;
}

.dice_scroll {
    background-position: 0px 0px;
}

.dice_mage {
    background-position: -35px 0px;
}

.dice_cleric {
    background-position: -70px 0px;
}

.dice_fighter {
    background-position: -105px 0px;
}

.dice_thief {
    background-position: -140px 0px;
}

.dice_champion {
    background-position: -175px 0px;
}


/* .hero {
    width: 124px;
    height: 172px;
    margin: 0px auto;
    background-image: url("img/cards.jpg");
    background-repeat: no-repeat;
    border-radius: 5px;
}

.hero.activated {
    transform: rotate(90deg) scale(0.8)
}

.hero_4_1 {
    background-position: 0px 0px;
}

.hero_5_1 {
    background-position: -124px 0px;
} */


/* New CSS */

.stockitem,
.whiteblock {
    border-radius: 5px;
}

.whiteblock {
    margin-top: 5px;
    margin-bottom: 5px;
}

.row {
    display: flex;
}

.col_1 {
    flex-basis: 25%;
    flex-grow: 1;
}

.col_2 {
    flex-basis: 50%;
    flex-grow: 1;
}

.col_3 {
    flex-basis: 75%;
    flex-grow: 1;
}

.col_4 {
    flex-basis: 100%;
    flex-grow: 1;
}

.dicezone2 {
    min-height: 104px;
}

.ml3 {
    margin-left: 3px;
}

.mr3 {
    margin-right: 3px;
}

.mt0 {
    margin-top: 0px;
}

.navigation {
    list-style: none;
    padding-bottom: 5px;
    height: 40px;
}

.navigation>li {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid black;
    display: inline-block;
    text-align: center;
    background-image: url('img/phase-icons.png');
    background-size: 160px 40px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.navigation>li.selected {
    background-color: cyan;
    background-position: 0px;
}

.navigation>li.monster {
    background-position: 0px;
}

.navigation>li.loot {
    background-position: -40px 0px;
}

.navigation>li.dragon {
    background-position: -80px 0px;
}

.navigation>li.regroup {
    background-position: -120px 0px;
    margin-right: 0px;
}

.info {
    width: 40px
}

.h200 {
    /* height: 200px; */
    display: flex;
    flex-direction: column;
}

.h82 {
    height: 82px;
    text-align: center;
}

.h82 .counter {
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    vertical-align: middle;
}

.mt14 {
    margin-top: 14px;
}

.hero-tooltip {
    display: flex;
    flex-direction: row;
}

.cardtooltip {
    text-align: center;
    max-width: 250px;
    flex-grow: 1;
}

.hero-tooltip>.cardtooltip+.cardtooltip {
    margin-left: 10px;
}

.card-hero {
    /* padding-left: 20px; */
}

.cardtooltip .keyword {
    font-weight: bold;
    display: inline;
}

.stockitem.temporary-item {
    border: 3px dashed red;
    box-sizing: content-box;
    transform: scale(0.87);
    transform-origin: top left;
}

.stockitem.temporary-ability {
    border: 3px dashed blue;
    box-sizing: content-box;
    transform: scale(0.87);
    transform-origin: top left;
}

.itemtooltip {
    max-width: 300px;
}


/* Hero zone */

#zone_hero .stockitem {
    /* Safari and Chrome */
    -webkit-transform: scale(0.87);
    /* Firefox */
    -moz-transform: scale(0.87);
    /* IE 9 */
    -ms-transform: scale(0.87);
    /* Opera */
    -o-transform: scale(0.87);
    transform: scale(0.87);
    transform-origin: top left;
}

#zone_hero.activated {
    margin-top: 10px;
    margin-left: -9px;
}

#zone_hero.activated .stockitem {
    /* Safari and Chrome */
    -webkit-transform: rotate(90deg) scale(0.9);
    /* Firefox */
    -moz-transform: rotate(90deg) scale(0.9);
    /* IE 9 */
    -ms-transform: rotate(90deg) scale(0.9);
    /* Opera */
    -o-transform: rotate(90deg) scale(0.9);
    transform: rotate(90deg) scale(0.9);
    transform-origin: top left;
    margin: 12px 140px;
}

#draft_card {
    margin: 10px 0 0 10px;
}

.card-hero {
    position: relative;
    height: 132px;
    max-width: 97px;
    padding: 0 25%;
}


/* Board */

#zone_draft .stockitem,
#zone_play .stockitem,
#zone_dungeon .stockitem,
#zone_party .stockitem,
#zone_inventory .stockitem {
    cursor: pointer !important;
}


/* Player Board */

.player_board {
    font-size: 14px;
    padding-left: 3px;
}

.player_board .player_hero {
    width: 55px;
    float: left;
}

.player_board .player_info {
    overflow: hidden;
}


/* Table Window */

.tableWindow table {
    min-width: 100%;
}

.tableWindow table th {
    text-align: center;
}

.tableWindow .rank-text {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.tableWindow .rank-1 {
    color: red;
}

.tableWindow .rank-2 {
    color: purple;
}

.tableWindow .rank-3 {
    color: blue;
}

.tableWindow .rank-4 {
    color: green;
}

.tableWindow .rank-5 {
    color: goldenrod;
}

#board .stockitem,
#draft_card .stockitem {
    box-shadow: -1px 2px 5px 1px rgb(0, 0, 0, 0.7);
    /* filter: drop-shadow(-1px 2px 5px rgb(0, 0, 0, 0.7)) */
}

#board .stockitem.token {
    border-radius: 25px;
}


/* Nav buttons */

#zone_actions {
    text-align: center;
    min-height: 50px;
}


/* Hero icons */

.icon-specialty {
    width: 90px;
    height: 60px;
    background-color: red;
}

#zone_specialty {
    font-size: 13px;
}


/* Hero Level Up Dialog */

.dlg_hero_level_up {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    text-align: center;
    z-index: 100;
}

.dlg_hero_level_up .title {
    font-size: 48px;
    font-style: italic;
    padding: 20px 0;
    /* shine */
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    color: rgba(255, 255, 255, 0.3);
    -webkit-background-size: 150px;
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    background-size: 150px;
    background-clip: text;
    animation-name: shine;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {
    0%,
    10% {
        background-position: -1000px;
    }
    20% {
        background-position: top left;
    }
    90% {
        background-position: top right;
    }
    100% {
        background-position: 1000px;
    }
}

.dlg_hero_level_up .img_hero {
    background-image: url("img/bigcards.jpg");
    background-repeat: none;
    background-size: 2376px 850px;
    width: 297px;
    height: 425px;
    border-radius: 25px;
    margin: 0 auto;
}

.dlg_hero_level_up .img_hero.master {
    box-shadow: 0px 0px 50px 15px goldenrod;
}